.header {
  align-items: center;
  background-color: #4675ca;
  display: flex;
  height: 3.2rem;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.header__container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1224px;
  padding: 1.5rem 0;
  width: 1224px;
}

.logo {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
}

.logo img {
  filter: brightness(0) invert(1);
  transform: translateY(-2px);
  width: 48px;
}

.logo span {
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: -0.05em;
}

.header__expenses {
  color: white;
}

.header__user {
  align-items: center;
  color: #f2f6fc;
  display: flex;
  gap: 4px;
  opacity: 70%;
  text-align: right;
}

.header__total {
  font-weight: 600;
}

@media only screen and ( max-width : 1200px ) {

  .header__container {
    padding: 0 32px;
  }

}

@media only screen and ( max-width : 400px ) {

  .header {
    height: 6rem;
  }

  .header__container {
    padding: 0 16px;
  }

}
