.login {
  height: 100dvh;
  width: 100%;
}

.login__inputs {
  align-items: center;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.login__inputs input {
  width: 140px;
}

.login__inputs button {
  background-color: transparent;
  color: #597265;
  font-weight: 300;
  position: relative;
}

.login__inputs button:after {
  content: '';
  height: 0;
  position: absolute;
  transition: width 200ms ease-in-out;
  width: 0;
}


.login__inputs button:hover:after {
  border-bottom: 2px solid #597265;
  bottom: 0;
  content: '';
  left: 1%;
  width: 100%;
}

.hero {
  display: flex;
  height: calc(100dvh - 10rem);
  margin: 0 auto;
  max-width: 1224px;
}

.hero__title , .hero__image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.hero__title {
  flex-direction: column;
  width: 50%;
}

.hero h1 {
  color: #084023;
  font-size: 3.75rem;
  letter-spacing: -0.025em;
  line-height: 1;
  text-align: left;
}

.hero h1 span {
  background-clip: text;
  background-image: linear-gradient(90deg, #229155 0%, #2a6a4b 100%);
  color: transparent;
}

.hero p {
  padding-top: 32px;
}

.hero__image {
  padding-left: 3rem;
  width: 50%;
}

.hero__image img {
  width: fit-content;
}

@media only screen and ( max-width : 1200px ) {

  .hero {
    padding: 0 32px;
  }

}
