.table {
  background-color: white;
  border-radius: 8px;
  color: #3a4840;
  margin: 32px auto;
  max-width: 1224px;
  padding: 40px;
  width: 100%;
}

.table table {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
  overflow-x: scroll;
  width: 100%;
}

.table__header {
  background-color: #3c62b9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #f2f6fc;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  text-align: center;
  width: 100%;
}

.table__header th {
  align-items: center;
  display: flex;
  font-size: 0.75rem;
  font-weight: 400;
  justify-content: center;
  width: 116px;
  word-wrap: break-word;
}

.table table tbody {
  width: 100%;
}

.table table tbody tr:nth-child( even ) {
  background-color: #f3f3f3;
}

.table__expense-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  width: 100%;
}

.table__expense-row td {
  font-size: 0.8rem;
  text-align: center;
  width: 116px;
  word-wrap: break-word;
}

.table__buttons {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.table__button {
  cursor: pointer;
  font-size: 1rem;
}

.table__button-edit {
  font-size: 1.2rem;
}

.table__button-edit:hover {
  color: #4675ca;
  transition: 150ms ease-in-out;
}

.table__button-delete:hover {
  color: #e1395f;
  transition: 150ms ease-in-out;
}

.table__footer {
  border-bottom: 5px solid #3c62b9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 5px;
  width: 100%;
}

.table__buttons button {
  background-color: transparent;
  color: #3a4840;
  padding: 0;
}

.table__buttons button:hover {
  background-color: transparent;
}
