.wallet {
  background-color: transparent;
  height: max-content;
  width: 100%;
}

.wallet-form__box {
  align-items: stretch;
  color: #555;
  display: flex;
  gap: 32px;
  height: max-content;
  justify-content: space-between;
  margin: 32px auto;
  max-width: 1224px;
  width: 100%;
}

.total-expenses {
  align-self: stretch;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 210px;
  justify-content: center;
  padding: 40px;
  position: relative;
  text-align: center;
  top: 0;
}

.total-expenses h2 {
  align-items: center;
  color: #39559e;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  gap: 8px;
  justify-content: center;
}

.total-expenses h2 > img {
  width: 30px;
}

.total-expenses span {
  font-size: 4rem;
  font-weight: 500;
}

.total-expenses__cash-icon {
  font-size: 2.8rem;
}

.total-expenses span span {
  color: #787878;
  padding-right: 16px;
}

.total-expenses--red {
  color: #e1395f ! important;
}

@media only screen and ( max-width : 400px ) {

  .wallet {
    background-color: transparent;
    height: max-content;
  }

  .wallet-form__box {
    display: flex;
    flex-direction: column;
  }

  .total-expenses {
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    height: max-content;
    margin: 0 auto;
    width: 88%;
  }

  .total-expenses h2 {
    font-size: 1rem;
  }

  .total-expenses span {
    font-size: 3rem;
    font-weight: 500;
  }

}
