.wallet {
  background-color: whitesmoke;
  height: 100dvh;
  width: 100%;
}

.wallet-form__box {
  align-items: stretch;
  color: #555;
  display: flex;
  gap: 32px;
  height: max-content;
  justify-content: space-between;
  margin: 32px auto;
  max-width: 1224px;
  width: 100%;
}

.total-expenses {
  align-self: stretch;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 210px;
  justify-content: center;
  padding: 40px;
  position: relative;
  text-align: center;
  top: 0;
}

.total-expenses h2 {
  align-items: center;
  color: #05346a;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  gap: 8px;
  justify-content: center;
}

.total-expenses h2 > img {
  width: 30px;
}

.total-expenses span {
  font-size: 4rem;
  font-weight: 500;
}

.total-expenses__cash-icon {
  font-size: 2.8rem;
}

.total-expenses span span {
  color: #787878;
  padding-right: 16px;
}

/* .total-expenses--red {
  color: #ff6c6c ! important;
} */
