@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Secular+One&display=swap');

:root {

}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-image: linear-gradient(90deg, white 0%, #E9FCF3 100%);
  font-family: 'Noto Sans', sans-serif;
  color: #597265;
}

input {
  padding-left: 8px;
  border: 1px solid rgba(89, 114, 101, 0.5);
  border-radius: 0.5rem;
  font-size: 0.75rem;
  color: #597265;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 200;
}

input:focus {
  outline: none;
}

input , button {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5rem;
  letter-spacing: -.01em;
}

button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
